@model EmployeeViewModel
@{
    ViewData["Title"] = "Create New Employee";
    // IEnumerable<EmployeePortal.Common.Models.Department> d = ViewData["department"] as IEnumerable<EmployeePortal.Common.Models.Department>;

}
<partial name="_NotificationSuccess" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>New Employee Details View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>New Employee Details</h3>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Employee" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email">Email Address</label>
                                <input asp-for="Email" type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PhoneNo">Phone Number</label>
                                <input asp-for="PhoneNo" type="number" class="form-control" id="phoneno" name="phoneno" placeholder="Phone Number" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Age">Age</label>
                                <input asp-for="Age" type="number" class="form-control" id="age" name="age" placeholder="Age" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AadharNo">Aadhar Number</label>
                                <input asp-for="AadharNo" type="number" class="form-control" id="aadharno" name="aadharno" placeholder="Aadhar Number" />
                                <span asp-validation-for="AadharNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Salary">Salary</label>
                                <input asp-for="Salary" type="number" class="form-control" id="salary" name="salary" placeholder="Salary" />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DepartmentId">DepartmentId</label>
@*                                 <input asp-for="DepartmentId" type="number" class="form-control" id="departmentid" name="departmentid" placeholder="Department" />
 *@                                <select asp-for="DepartmentId" class="form-control" id="departmentid" name="departmentid">
                                    <option value="">-- Select Department --</option>
                                    @foreach (var department in ViewData["department"] as IEnumerable<EmployeePortal.Common.Models.Department>)
                                    {
                                        <option value="@department.Id">@department.DepartmentName</option>
                                    }
                                </select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Address">Address</label>
                                <textarea asp-for="Address" id="address"
                                          name="address"
                                          placeholder="Address"
                                          class="form-control w-100"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary register-button">Register</button>
                    <a href="~/Employee/Index" class="btn btn-danger">Cancel</a>

                    @* <form asp-action="Create" asp-controller="Employee" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="FirstName" >First Name</label>
                    <input asp-for="FirstName"  type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="First Name" />
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName"
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Last Name" />
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="Email" for="email">Email</label>
                    <input asp-for="Email" type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email">
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="PhoneNo">Phone Number</label>
                    <input asp-for="PhoneNo" type="number"
                    class="form-control"
                    name="phoneNumber" placeholder="Phone Number"/>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="Age">Age</label>
                    <input asp-for="Age" type="number"
                    class="form-control"
                    id="age"
                    name="age"
                    placeholder="Age"/>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="AadharNo">AadharNumber</label>
                    <input asp-for="AadharNo" type="number"
                    class="form-control"
                    id="aadharNumber"
                    name="aadharNumber" placeholder="Aadhar Number"/>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label asp-for="Salary" for="salary">Salary</label>
                    <input asp-for="Salary" type="number"
                    class="form-control"
                    id="salary"
                    name="salary"
                    placeholder="Salary">
                    </div>
                    <div class="form-group">
                    <label asp-for="DepartmentId">Department</label>
                    @* <select class="form-control"
                    asp-for="DepartmentId"
                    id="department"
                    name="department">
                    <option value="">Select Department</option>
                    @foreach (var item in d)
                    {
                    <option value=@item.Id>@item.DepartmentName</option>

                    }
                    </select>
                    </div>
                    </div> *@

                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
</html>